.page-wrapper {
    border: 2px solid #dcdcdc;
    padding: 0.9em;
    border-radius: .5em;
}

.page-wrapper span {
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 28px;
    font-weight: 400;
    padding: 0 0.5em;
    text-decoration: none;
}

.page-wrapper span.current-item {
    color: #fff;
    font-weight: 400;
    padding: 0.2em 0.5em;
    background-color: rgb(71, 145, 241);
    border-radius: .25em;
}

.page-wrapper  span:first-child {
    margin-right: 0.5em;
}

.page-wrapper  span:last-child {
    margin-left: 0.5em;
}